<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
{% include head.html %}

<body class="subpage">

{% include header.html %}
{% include nav.html %}

    <!-- Main -->
    <div id="main">
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>Elliot Simon for Delegate</h1>
                </header>
                <div class="flex flex-2">
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="/about-me" class="link">
                                <img src="assets/images/elliot.jpg" alt="Elliot Simon" />
                            </a>
                        </div>
                    </div>
                    <div class="col col2">
                        {{ content }}
                        <p class="align-center">
                            <a href="https://secure.anedot.com/simon-for-delegate/donate">
                                <button style="background-color: #28a745; border-color: #28a745">
                                    Donate!
                                </button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% include footer.html %}
{% include footer-js.html %}

</body>
</html>